/* 

.colorCard
{
      width: 260px;
      margin: 8px;
      border-radius: 8px;
      padding: 15px;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      text-align: left;
      animation-fill-mode: backwards;
  }

.palette 
{
      max-width: 100%;
      padding-bottom: 100%;
      border-radius: 6px;
      position: relative;
      display: block;
}

.copyIcon
{
      display: none;
      float: right;
}

.copyIcon:hover
{
      display: inline;

}
 */
