body
{
      background: '#f0f0f0';
}

.colourCard
{
      padding: 10px;
      border:  1px solid #c0c0c0;
      max-width: 10%;
      color: #000;
      font-weight: bold;
}

.colour  
{
      padding: 10px;

}

.colour:hover
{
      color: #fff;
}